.container{
width: 100%;
}
h1 {
  text-align: center;
  font-size: 35px;
  padding: 50px;
}
p{
  padding: 10px;
  text-align: center;
}
form{
  text-align: center;
}

/* エラーメッセージのスタイル */
.error {
  width : 100%;
  padding: 0;
  display: inline-block;
  font-size: 90%;
  color: red;
  box-sizing: border-box;
}